@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="block2" style="width:660px;">
    @RenderBody()
    Render Body Burada
    <br />
    burası _LayoutPage3 nested layout un nested kısmı içi yani
</div>

<div class="block2" style="float:right;">
    <h4>iletişim</h4>
        <ul>
            <li>123123</li>
            <li>3123123</li>
            <li123123></li123123>
        </ul>
    
</div>


