
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About</h2>
<hr />
<a href="">Consectetur adipiscing elit fusce vel.</a>
<a href="">Sapien elit in malesuada semper.</a>
<a href="">Mi, id sollicitudin urna fermentum.</a>

