
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact</h2>
<hr />
<ul>
    <li>Amet, consectetur adipiscing elit.</li>
    <li>Fusce vel sapien elit.</li>
    <li>In malesuada semper mi.</li>
    <li>Id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl.</li>
    <li>Ac ipsum gravida vel.</li>
    <li>Pretium tellus tincidunt integer.</li>
    <li>Eu augue augue nunc.</li>
    <li>Elit dolor, luctus placerat.</li>
    <li>Scelerisque euismod, iaculis eu.</li>
    <li>Lacus nunc mi elit.</li>
    <li>Vehicula ut laoreet ac.</li>
    <li>Aliquam sit amet justo.</li>
    <li>Nunc tempor, metus vel.</li>
    <li>Placerat suscipit, orci nisl.</li>
</ul>

